<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home | GeantWorld</title>
    <link rel="stylesheet" type="text/css" href="/css/home.css"/>
    
</head>
<body>
    <header>
        <img class="logo" src="/images/logo.png" alt="logo">
        
        <nav>
            <ul class="nav__links">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <a class="cta" href="https://geantbot.tk/"><button>Geantbot</button></a>
    </header>

    <h1 class="welcomemsg">Welcome to GeantWorld, The official website</h1>
    <p></p>
</body>
</html>